extends layout

block vars
  - var title = "Error Display"
block content
  - var navigations = [{name: "dashboard", link: "/dashboard"}]
  - var userName = email
  include header/header.jade
  include error500/error500.jade
