extends layout

block vars
  - var title = "Error Display"
block content
  if email
      - var navigations = [{name: "logout", link: "/logout"}]
      - var linkDestination = "/dashboard"
  else
      - var linkDestination = "/"
  - var userName = email


  include header/header.jade
  include error500/error500.jade
