extends layout
block vars
    - var title = "Home"

block content
    - var navigations = [{name: "home", link: "/"}, {name: "login", link: "/login"}]
    include ./header/header.jade
    include ./body/index-body/index-body.jade