extends layout
block vars
	- var title = "Login"
block title
	title #{title}
block content
	h1 #{title}
	form(action="/dashboard" method="post")
		| E-mail:
		input(type="email" required)
		br
		br
		| Password:
		input(type="password" required)
		br
		input(type="submit" name="submit" value="Login")

	