extends layout
block vars
    - var title = "quizzes"
block title
    title #{title}
block content
    - var navigations = [{name: "dashboard", link: "/dashboard"}, {name: "logout", link: "/logout"}]
    - var userName = email
    include ./header/header.jade
    include ./quizzes-content/quizzes-content.jade
