nav(class="navigation")
    for navigation in navigations
        a(href="#{navigation.link}") #{navigation.name}

    if pageName
        span(class="flex")
        div(class="page-title") Welcome to #{pageName}