.performance-reporter-wrapper {
    height: auto;
}

.report-row {
    text-align: center;
    background-color: beige;
    font-size: 17px;
    margin-top: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: #2F6FAD;
}

.report-question {
    display: table-cell;
    width: 300px;
    padding: 8px;
    font-size: 18px;
}

.report-given-answer {
    display: table-cell;
    width: 175px;
    padding: 8px;
    font-size: 18px;
}

.success {
    color: #0B6121;
}

.error {
    color: #ff0000;
}


.reporter-header {
    font-weight: bold;
    background-color: #999999;
}