.quizzes-content-wrapper {
    color: black;
    margin: auto;
    width: 700px;
    padding-top: 30px;
}

.header {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    background-color: bisque;
}
.row {
    text-align: center;
    background-color: beige;
    font-size: 17px;
    margin-top: 20px;
}
.cell {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
    width: 300px;
}

.cell a {
    text-decoration: none;
}