block includes
    link(rel="stylesheet", href="/quizzes-content/quizzes-content.css")


div(class="quizzes-content-wrapper")
    div(class="header")
        div(class="cell")
            p Name of the quiz
        div(class="cell")
            p Total questions

    for quiz in quizList
        div(class="row")
            div(class="cell")
                a(href="quiz/#{quiz.index}") #{quiz.name}
            div(class="cell")
                p #{quiz.totalQuestions}
